/* Define your theme modifications inside next mixin */
@mixin com_gcs_gcsplatform-helium-ext {

  .v-table-row.pink-row {
      background-color: pink;
  }

  .v-table-row.red-row {
      background-color: #fc5b5b;
  }

  // begin - warning button
  .v-button-warning {
      border-color: #ffca3e;
      background: #ffca3e;
      color: #fff;
  }

  .v-button-warning:hover:not(.v-disabled) {
      border-color: #ffb900;
      background: #ffb900;
      color: #fff;
  }

  .v-button-warning:focus:not(.v-disabled) {
      border-color: #ffe296;
      color: #fff;
  }

  .v-button-warning:active:not(.v-disabled) {
      border-color: #ffe296;
      background: #ff9b00;
      color: #fff;
  }

  .v-button-warning.v-disabled {
      border-color: #ffe296;
      background: #ffe296;
      color: #fff;
  }
  //end - warning button

  .v-tabsheet-tabs-tab-colored .v-tabsheet-tabitem {
      border-radius: 6px;
  }

  .v-tabsheet-tabs-tab-colored .v-tabsheet-tabitem-selected {
  	  background-color: var(--button-primary-color);
  }

  .v-tabsheet-tabs-tab-colored .v-tabsheet-tabitem-selected .v-caption {
      color:var(--button-primary-text-color)!important;
      border-bottom-color:transparent!important;
  }

  .v-tabsheet-tabs-tab-colored .v-tabsheet-tabitem .v-caption {
      line-height: 38px;
  }

  .v-tabsheet-tabcontainer-tab-colored {
      margin-left: 12px;
  }

  .v-tabsheet-tabcontainer-tab-colored .v-tabsheet-caption-close {
      top: 11px !important;
  }
}