<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="gcsplatform" transaction-type="RESOURCE_LOCAL">
        <class>com.gcs.gcsplatform.entity.trade.Trade</class>
        <class>com.gcs.gcsplatform.entity.trade.OpenedTrade</class>
        <class>com.gcs.gcsplatform.entity.trade.ClosedTrade</class>
        <class>com.gcs.gcsplatform.entity.trade.LiveTrade</class>
        <class>com.gcs.gcsplatform.entity.trade.CallOptionTrade</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Category</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Trader</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Counterparty</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Broker</class>
        <class>com.gcs.gcsplatform.entity.masterdata.CounterpartyBrokerage</class>
        <class>com.gcs.gcsplatform.entity.trade.ClosedLiveTrade</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Currency</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Fx</class>
        <class>com.gcs.gcsplatform.entity.pnl.Pnl</class>
        <class>com.gcs.gcsplatform.entity.invoice.InvoiceLine</class>
        <class>com.gcs.gcsplatform.entity.invoice.Invoice</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Bank</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Company</class>
        <class>com.gcs.gcsplatform.entity.masterdata.InvoiceBank</class>
        <class>com.gcs.gcsplatform.entity.qb.QuickBooksToken</class>
        <class>com.gcs.gcsplatform.entity.qb.QuickBooksCsrf</class>
        <class>com.gcs.gcsplatform.entity.masterdata.InvoiceCompany</class>
        <class>com.gcs.gcsplatform.entity.masterdata.Location</class>
        <class>com.gcs.gcsplatform.entity.ExtStandardEntity</class>
    </persistence-unit>
</persistence>
